<form [formGroup]="form" (ngSubmit)="submit()">
  <div mat-dialog-content fxLayout="column">
    <p>Réservation du {{ logementReservation.dateDebut }} au {{ logementReservation.dateFin }}</p>
    <p>Prix : {{ logementReservation.prix }}€</p>
    <mat-form-field appearance="fill">
      <mat-label>Votre email *</mat-label>
      <input matInput formControlName="emailDemandeur">
      <div class="control" 
      *ngIf="form.get('emailDemandeur')!.invalid && (form.get('emailDemandeur')!.dirty || form.get('emailDemandeur')!.touched)">
        adresse invalide.
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Message (facultatif):</mat-label>
      <textarea matInput formControlName="message" rows="4"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="cancel()" type="button">Annuler</button>
    <button mat-button [disabled]="form.invalid" type="submit" cdkFocusInitial>Ok</button>
  </div>
</form>