<div mat-dialog-content fxLayout="column">
  <mat-form-field appearance="fill">
    <mat-label>Votre email</mat-label>
    <input matInput placeholder="Votre email *" [(ngModel)]="mail.from">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Message</mat-label>
    <textarea matInput placeholder="Votre message *" [(ngModel)]="mail.message" rows="4"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Annuler</button>
  <button mat-button [mat-dialog-close]="mail" cdkFocusInitial>Ok</button>
</div>