<form [formGroup]="form" (ngSubmit)="submit()">
    <div mat-dialog-content fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>Nouveau mot de passe *</mat-label>
        <input matInput formControlName="password" type="password">
        <div class="control" 
        *ngIf="form.get('password')!.invalid && (form.get('password')!.dirty || form.get('password')!.touched)">
          Le mot de passe doit être rempli
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirmez le mot de passe *</mat-label>
        <input matInput formControlName="confirmPassword" type="password">
        <div class="control" 
          *ngIf="form.get('confirmPassword')!.invalid">
          Confirmez le mot de passe
        </div>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button [disabled]="form.invalid" type="submit" cdkFocusInitial>Ok</button>
    </div>
  </form>