.component {
    background-color: rgb(247, 253, 254);
}

#villeSearch,
#nbVoyageurs,
#nbLits {
    margin: 2% 2%;
    padding-left: 5px;
    border-radius: 5px;
}

.logements {
    display: grid;
    grid-template-columns: 70% 20%;
}

.randomPropositions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logement {
    margin: 1%;
}

.button-effect {
    // float: none;
    // clear: none;
    border-style: none;
    border-width: 2px;
    border-color: rgba(7, 0, 0, 0.98);
    border-radius: 20px;
    box-shadow: inset -2px -2px 5px 0 #000;
    background-color: rgb(235, 249, 251);
    cursor: pointer;
    // -webkit-backface-visibility: visible;
    // backface-visibility: visible;
    // -webkit-perspective: 424px;
    // perspective: 424px;
    // -webkit-transform: perspective(216px);
    // transform: perspective(216px);
    // background-clip: padding-box;
}

img {
    padding: 3px;
    border-radius: 20px;
    width: 40vh;
    height: 25vh;

}

#map {
    border-radius: 20px;
    width: 50vh;
    height: 75vh;
}

.details {
    padding: 5%;
}

.fas {
    width: 0;
    height: 0;
    font-size: 36px;
    cursor: pointer;
    opacity: 1;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.arrow-right {
    position: relative;
    left: -15%;
    bottom: -10%;
}

.arrow-left {
    position: relative;
    left: -95%;
    bottom: -10%;
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: .4;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-underline{
    display: none;
  }