<div class="component">
    <div class="search" fxLayout="row" fxLayoutGap="8px">
        <mat-form-field class="input-date" appearance="outline">
            <mat-label>Dates</mat-label>
            <mat-date-range-input [rangePicker]="picker" [dateFilter]="filterDates">
              <input matStartDate placeholder="Arrivée" [(ngModel)]="dateDebut">
              <input matEndDate placeholder="Départ" [(ngModel)]="dateFin">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        <mat-form-field class="input-size">
            <input matInput type="text" name="villeSearch" placeholder="ville"
             [(ngModel)]="villeSearch" [matAutocomplete]="villescomplete">
        </mat-form-field>
        <mat-autocomplete #villescomplete="matAutocomplete">
            <mat-option *ngFor="let ville of villes" [value]="ville">
              {{ ville }}
            </mat-option>
        </mat-autocomplete>
        <mat-form-field class="input-size">
            <input matInput type="number" name="nbVoyageurs" placeholder="voyageurs"
                [(ngModel)]="nbVoyageurs">
        </mat-form-field>
        <mat-form-field class="input-size">
            <input matInput type="number" name="nbVoyageurs" placeholder="lits" [(ngModel)]="nbLits">
        </mat-form-field>
        <mat-form-field class="input-size">
            <input matInput type="number" name="nbSdbs" placeholder="Salles de bain" [(ngModel)]="nbSdbs">
        </mat-form-field>
        <mat-form-field class="input-size">
            <input matInput type="number" name="prix" placeholder="prix max/nuit" [(ngModel)]="prix_max">
        </mat-form-field>
        <button class="btn btn-light" (click)="actualiser()">Actualiser</button>
        <button (click)="expandFilters()" class="btn btn-light">Equipements</button>
        <button class="btn btn-light" (click)="effacerFiltres()">Effacer les filtres</button>
    </div>
    <div [@slideInOut]="animationState">
        <mat-checkbox #checkbox *ngFor="let e of equipementsList" value="{{e.element}}"
            (change)="valueChange(e.element, $event)">
            <span>{{e.element}}</span>
        </mat-checkbox>
        <mat-checkbox #checkbox *ngFor="let e of equipementsSecuriteList" value="{{e.element}}"
            (change)="valueChange(e.element, $event)">
            <span>{{e.element}}</span>
        </mat-checkbox>
    </div>
    <div class="logements">
        <div class="propositions" *ngIf="logementsFiltres.length === 0">
            <div class="m_2pourcent box" *ngFor="let logement of logementsRandom; let indexLogement = index"
                (click)="openLogementInNewWindow(logement._id)">
                <img *ngIf="logement && logement.images" [src]="serverImg + logement.images[logement.indexImage]"
                    alt="">
                <i class='fas fa-angle-right arrow-right'
                    (click)="selectArrow(logementsRandom, indexLogement, logement.indexImage, $event)"></i>
                <i class='fas fa-angle-left arrow-left'
                    (click)="selectLeftArrow(logementsRandom, indexLogement, logement.indexImage, $event)"></i>
                <div class="details" fxLayout="column">
                    <span>{{ logement.logement }} | {{ logement.ville }}</span>
                    <span>{{ logement.prix + (logement.prix*10/100) }}€/nuit</span>
                    <span>{{ logement.voyageurs }} voyageurs</span>
                    <span>{{ logement.lits }} lits</span>
                    <span>{{ logement.sdbs }} salles de bain</span>
                </div>
            </div>
        </div>
        <div class="propositions" *ngIf="logementsFiltres.length > 0">
            <div class="m_2pourcent box" *ngFor="let logement of logementsFiltres; let indexLogement = index"
            (click)="openLogementInNewWindow(logement._id)">
                <img *ngIf="logement && logement.images" [src]="serverImg + logement.images[logement.indexImage]"
                    alt="">
                <i class='fas fa-angle-right arrow-right'
                    (click)="selectArrow(logementsFiltres, indexLogement, logement.indexImage, $event)"></i>
                <i class='fas fa-angle-left arrow-left'
                    (click)="selectLeftArrow(logementsFiltres, indexLogement, logement.indexImage, $event)"></i>
                <div class="details" fxLayout="column">
                    <span>{{ logement.logement }} | {{ logement.ville }}</span>
                    <span>{{ logement.prix + (logement.prix*10/100) }}€/nuit</span>
                    <span>{{ logement.voyageurs }} voyageurs</span>
                    <span>{{ logement.lits }} lits</span>
                    <span>{{ logement.sdbs }} salles de bain</span>
                </div>
            </div>
        </div>
        <div id="map" leaflet *ngIf="displayMap" (leafletMapReady)="onMapReady($event)" [leafletOptions]="mapOptions">
        </div>
    </div>
</div>