.component {
    background-color: white;
}

.search {
    margin-left: 2%;
}

.input-date {
    width: 300px;
}

.input-size {
    width: 100px;
}

.logements {
    display: flex; 
    flex-flow: row wrap;
}
.propositions::-webkit-scrollbar{
    display: none;
}
.propositions {
    flex: 1 1 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

#map {
    flex: 1 1 25%;
    border-radius: 20px;
    width: 100%;
    height: 75vh;
    margin-right: 2%;
}

.margin {
    margin: 2%;
}

.box {
    border: 1px solid rgba(149, 149, 149, 0.98);
    cursor: pointer;
    height:fit-content;
}

img {
    width: 40vh;
    height: 25vh;
}

.details {
    text-align: center;
    padding: 5%;
}

.fas {
    width: 0;
    height: 0;
    font-size: 36px;
    cursor: pointer;
    opacity: 1;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.arrow-right {
    position: relative;
    left: -15%;
    bottom: -10%;
}

.arrow-left {
    position: relative;
    left: -95%;
    bottom: -10%;
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: .4;
}

mat-form-field{
    margin: 1%;
    width: 10%;
}

// ::ng-deep mat-form-field > .mat-form-field-wrapper > .mat-form-field-underline{
//     display: none !important;
// }

.btn {
    height: 50%;
    margin-top: 2%;
}

::ng-deep mat-checkbox > label.mat-checkbox-layout{
    margin: 10px;
}