.component {
    background-color: rgb(247, 253, 254);
}

.logements {
    display: grid;
    grid-template-columns: 80% 20%;
}
.propositions::-webkit-scrollbar{
    display: none;
}
.propositions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.margin {
    margin: 3%;
}

.button-effect {
    border-style: none;
    border-width: 2px;
    border-color: rgba(7, 0, 0, 0.98);
    border-radius: 20px;
    box-shadow: inset -2px -2px 5px 0 #000;
    background-color: rgb(235, 249, 251);
    cursor: pointer;
    height:fit-content;
}

img {
    padding: 3px;
    border-radius: 20px;
    width: 40vh;
    height: 25vh;

}

#map {
    border-radius: 20px;
    width: 35vh;
    height: 75vh;
    margin-right: 2%;
}

.details {
    padding: 5%;
}

.fas {
    width: 0;
    height: 0;
    font-size: 36px;
    cursor: pointer;
    opacity: 1;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.arrow-right {
    position: relative;
    left: -15%;
    bottom: -10%;
}

.arrow-left {
    position: relative;
    left: -95%;
    bottom: -10%;
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: .4;
}

mat-form-field{
    margin: 1%;
    width: 10%;
}

::ng-deep mat-form-field > .mat-form-field-wrapper > .mat-form-field-underline{
    display: none !important;
}

.btn {
    height: 50%;
    margin-top: 2%;
}

::ng-deep mat-checkbox > label.mat-checkbox-layout{
    margin: 10px;
}