<div class="component">
    <div class="search" fxLayout="row">
        <input type="text" id="villeSearch" placeholder="ville" [(ngModel)]="villeSearch">
        <input type="number" id="nbVoyageurs" placeholder="nombre de voyageurs" [(ngModel)]="nbVoyageurs">
        <input type="number" id="nbLits" placeholder="nombre de Lits" [(ngModel)]="nbLits">
    </div>
    <div class="logements">
        <div class="randomPropositions">
            <div class="logement button-effect" *ngFor="let logement of logementsRandom; let indexLogement = index"
                (click)="openLogementInNewWindow(logement._id)">
                <img *ngIf="logement && logement.images" [src]="serverImg + logement.images[logement.indexImage]"
                    alt="">
                <i class='fas fa-angle-right arrow-right'
                    (click)="selectArrow(indexLogement, logement.indexImage, $event)"></i>
                <i class='fas fa-angle-left arrow-left'
                    (click)="selectLeftArrow(indexLogement, logement.indexImage, $event)"></i>
                <div class="details" fxLayout="column">
                    <span>{{ logement.description }}</span>
                    <span>{{ logement.logement }} | {{ logement.ville }}</span>
                    <span>{{ logement.prix }}€/nuit</span>
                </div>
            </div>
        </div>
        <div id="map" leaflet *ngIf="displayMap" (leafletMapReady)="onMapReady($event)" [leafletOptions]="mapOptions">
        </div>
    </div>
</div>