.component {
    background-color: rgb(247, 253, 254);
}

.voyage, .reservation {
    width: fit-content;
    margin: auto;
}

.reservations, .voyages, .stripe {
    text-align: center;
    padding: 2%;
}

.configure_compte_stripe{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(65, 155, 240);
}

.button-effect {
    border-style: none;
    border-width: 2px;
    border-color: rgba(7, 0, 0, 0.98);
    border-radius: 20px;
    box-shadow: inset -2px -2px 5px 0 #000;
    background-color: rgb(235, 249, 251);
    cursor: pointer;
    height:fit-content;
    width: 400px;
}

.reservation{
    padding: 1%;
}

.details{
    padding: 5%;
    text-align: center;
}

img {
    padding: 3px;
    border-radius: 20px;
    width: 95%;
    height: 25vh;
}

.fas {
    width: 0;
    height: 0;
    font-size: 36px;
    cursor: pointer;
    opacity: 1;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.arrow-right {
    position: relative;
    right: 10%;
    bottom: 0;
}

.arrow-left {
    position: relative;
    left: -90%;
    bottom: 0;
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: .4;
}

.buttons, .suppression {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.btn {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: 80% 20%;
}