<div class="component" *ngIf="logement">
  <div class="first_row" fxLayout="row">
    <div class="details">
      <h5>{{ logement.addresse }} - {{ logement.ville }}</h5>
      <h6>{{ logement.description }}</h6>
    </div>
    <div class="logement" fxLayout="column">
      <ngx-gallery *ngIf="logement.galleryImages" [options]="galleryOptions" [images]="logement.galleryImages"
        class="ngx-gallery"></ngx-gallery>
      <div class="commodites" fxLayout="row" fxLayoutGap="10px">
        <span *ngIf="logement.fumeur">fumeur</span>
        <span *ngIf="!logement.fumeur">non fumeur</span>
        <span *ngIf="logement.animaux">animaux acceptés</span>
        <span *ngIf="!logement.animaux">animaux non acceptés</span>
        <span *ngIf="logement.access_handicap">accès handicapé</span>
      </div>
    </div>
    <div class="date_picker" fxLayout="column" fxLayoutGap="10px">
      <mat-form-field class="custom-filter-field" appearance="outline">
        <mat-label>Dates</mat-label>
        <mat-date-range-input [rangePicker]="picker" [dateFilter]="filterDates" [max]="maxDate">
          <input matStartDate placeholder="Arrivée" (dateChange)="startDateChanged($event)" [(ngModel)]="dateDebut">
          <input matEndDate placeholder="Départ" (dateChange)="endDateChanged()" [(ngModel)]="dateFin">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <p class="prix_nuit">{{ logement.prix + (logement.prix * 10/100) }}€/nuit</p>
      <p class="prix_nuit" *ngIf="prixTotal">Prix total : {{ prixTotal }}€</p>
      <button type="button" class="btn btn-info" (click)="clearSelection()">Vider les dates</button>
      <button type="button" class="btn btn-primary" (click)="openFormContact()">Contacter l'hôte</button>
      <button type="button" class="btn btn-success" (click)="schedule()">Réserver</button>
    </div>
  </div>
  <div class="equipements" fxLayoutGap="10px">
    <span class="equipement_titre">Equipements : </span>
    <span *ngFor="let equipement of equipements">
      <i [ngClass]="equipement.logo"></i>
      {{ equipement.element }}
    </span>
  </div>
</div>