<div class="component" *ngIf="logement">
  <div class="first_row" fxLayout="row">
    <div class="details">
      <h5>{{ logement.adresse }} - {{ logement.ville }}</h5>
      <p class="description">{{ logement.description }}</p>
    </div>
    <div class="logement" fxLayout="column">
      <ngx-gallery *ngIf="logement.galleryImages" [options]="galleryOptions" [images]="logement.galleryImages"
        class="ngx-gallery"></ngx-gallery>
      <div class="commodites" fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutGap="10px">
          <span>{{ logement.voyageurs }} {{translate('LOGEMENTS.FILTRES.VOYAGEURS')}} max</span>
          <span>{{ logement.lits }} {{translate('LOGEMENTS.FILTRES.LITS')}}</span>
          <span>{{ logement.sdbs }} {{translate('LOGEMENTS.FILTRES.SDB')}}</span>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
          <span *ngIf="logement.fumeur" translate>LOGEMENTS.DETAILS.FUMEUR</span>
          <span *ngIf="!logement.fumeur" translate>LOGEMENTS.DETAILS.NO_FUMEUR</span>
          <span *ngIf="logement.animaux" translate>LOGEMENTS.DETAILS.ANIMAUX_ACCEPTES</span>
          <span *ngIf="!logement.animaux" translate>LOGEMENTS.DETAILS.ANIMAUX_NON_ACCEPTES</span>
          <span *ngIf="logement.access_handicap" translate>LOGEMENTS.DETAILS.ACCES_HANDICAPE</span>
          <span *ngIf="!logement.access_handicap" translate>LOGEMENTS.DETAILS.NO_ACCES_HANDICAPE</span>
        </div>
      </div>
    </div>
    <div class="date_picker" fxLayout="column" fxLayoutGap="10px">
      <mat-form-field class="custom-filter-field" appearance="outline">
        <mat-label>Dates</mat-label>
        <mat-date-range-input [rangePicker]="picker" [dateFilter]="filterDates" [max]="maxDate">
          <input matStartDate [placeholder]="translate('LOGEMENTS.FILTRES.ARRIVEE')" (dateChange)="startDateChanged($event)" [(ngModel)]="dateDebut">
          <input matEndDate [placeholder]="translate('LOGEMENTS.FILTRES.DEPART')" (dateChange)="endDateChanged()" [(ngModel)]="dateFin">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <p class="prix_nuit">{{ logement.prix + (logement.prix * 10/100) }}€/{{ translate('LOGEMENTS.DATAS.NUIT') }}</p>
      <p class="prix_nuit" *ngIf="prixTotal">{{translate('LOGEMENTS.DETAILS.PRIX_TOTAL')}} : {{ prixTotal }}€</p>
      <button type="button" class="btn btn-info" (click)="clearSelection()" translate>LOGEMENTS.DETAILS.VIDER_DATES</button>
      <button type="button" class="btn btn-primary" (click)="openFormContact()" translate>LOGEMENTS.DETAILS.CONTACT_HOTE</button>
      <button type="button" class="btn btn-success" (click)="schedule()" translate>LOGEMENTS.DETAILS.RESERVER</button>
    </div>
  </div>
  <div class="equipements" fxLayoutGap="10px">
    <span class="equipement_titre" translate>LOGEMENTS.EQUIPEMENTS.EQUIPEMENTS</span>
    <span *ngFor="let equipement of equipements">
      <i [ngClass]="equipement.logo"></i>
      {{ translate('LOGEMENTS.EQUIPEMENTS.'+equipement.element) }}
    </span>
  </div>
</div>