.component {
  text-align: center;
  background-color: rgb(247, 253, 254);
}

.first_row {
  padding-top: 50px;
}

.equipement_titre {
  font-weight: 800;
}

.commodites {
  margin-bottom: 2%;
}

.commodites>span {
  font-weight: 600;
}

.equipements {
  background-color: rgb(231, 254, 253);
  border: solid 1px rgb(243, 243, 243);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1%;
}

.details {
  margin: 1%;
  width: 25%;
}

.ngx-gallery {
  display: inline-block;
  margin-bottom: 20px;
  /* width: 500px;
      height: 400px;
      border-color: #4a89ff;*/
}

.date_picker {
  margin-left: 1%;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.prix_nuit {
  background-color: rgb(242, 254, 253);
  border-radius: 5px;
}