.component {
    width: 100%;
    background-color: rgb(224, 250, 255);
}

.item,
mat-radio-group {
    font-size: 1rem;
    margin: 0 5% 1% 5%;
}

.input_ville {
    width: 150px !important;
}

.number {
    width: 80%;
    height: 20%;
    margin: 0 10% 5% 0;
}

.ville {
    border-radius: 5px;
    margin: 2% 5% 0 0;
}

mat-radio-group {
    width: 100% !important;
    margin-top: 20px;
}

.step,
ngx-dropzone {
    background-color: white;
    margin: 5px 0;
}

.addresse {
    width: 80%;
}

.searchLocation {
    color: white;
    background-color: rgb(0, 170, 255);
    border: solid 1px rgb(1, 138, 207);
    padding: 5px;
    cursor: pointer;
}

#map {
    height: 150px;
    width: 400px;
}

.control {
    color: red;
}

.field {
    width: 20%;
}

input[type=number] {
    width: 20%;
    background-color: rgb(243, 248, 234);
}

mat-checkbox {
    margin-right: 15px;
}

.submit {
    width: 30%;
    height: 1%;
    padding: 1%;
    margin: 2% 35%;
    border-radius: 10px;
}

textarea {
    width: 100vh;
}

#prix {
    width: 50px;
}