<div class="component">
  <form (keydown.enter)="$event.preventDefault()" [formGroup]="form" (ngSubmit)="submit()">
    <div class="step" fxLayout="row">
      <div class="item" translate>
        LOGEMENTS.FORM.QUESTION_TYPE
      </div>
      <mat-radio-group formControlName="logement" name="logement" required fxLayoutGap="3%">
        <mat-radio-button *ngFor="let l of logementsType" value="{{l}}">{{translate('LOGEMENTS.TYPES.'+l)}}</mat-radio-button>
        <div class="control" 
          *ngIf="form.get('logement')!.invalid" translate>
          LOGEMENTS.FORM.TYPE_OBLIGATOIRE
        </div>
      </mat-radio-group>
      <div class="ville" fxLayout="column">
        <mat-form-field class="item field input_ville">
          <input matInput type="text" name="ville" required placeholder="Ville" (keyup)="affineVille()"
          formControlName="ville" [matAutocomplete]="villescomplete">
        </mat-form-field>
        <mat-autocomplete #villescomplete="matAutocomplete">
          <mat-option *ngFor="let ville of villeAutoComplete" [value]="ville">
            {{ ville }}
          </mat-option>
        </mat-autocomplete>
        <div class="control" 
          *ngIf="form.get('ville')!.invalid" translate>
          LOGEMENTS.FORM.VILLE_OBLIGATOIRE
        </div>
      </div>
    </div>
    <div class="step">
      <mat-form-field class="item addresse">
        <div fxLayout="column" fxLayoutGap="5px">
          <div class="input_addresse" fxLayout="row" fxLayoutGap="5px">
            <input type="text" matInput formControlName="adresse" name="adresse" id="adresse" required
              [matAutocomplete]="auto" class="form-control" placeholder="Adresse" (keyup)="enter($event)" />
            <span class="searchLocation" (click)="adresseFromGeoApi()" translate>LOGEMENTS.FORM.SEARCH_LOCATION</span>
          </div>
          <div class="control" *ngIf="mauvaiseAdresse" translate>LOGEMENTS.FORM.MAUVAISE_ADRESSE</div>
          <div class="control" *ngIf="noSearch" translate>LOGEMENTS.FORM.CLICK_TO_SEARCH</div>
          <div class="control" 
            *ngIf="form.get('adresse')!.invalid && (form.get('adresse')!.dirty || form.get('adresse')!.touched)" translate>
            LOGEMENTS.FORM.ADRESSE_OBLIGATOIRE
          </div>
          <div id="map" leaflet *ngIf="displayMap" (leafletMapReady)="onMapReady($event)" [leafletOptions]="mapOptions">
          </div>
        </div>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let result of searchResults" [value]="result.address" (click)="selectAdresse(result)">
            {{ result.address }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="step">
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field class="item field" fxLayoutGap="20px">
          <label class="number" translate>LOGEMENTS.FORM.QUESTION_VOYAGEURS</label>
          <input matInput type="number" name="nbVoyageur" formControlName="nbVoyageur">
          <div class="control" 
            *ngIf="form.get('nbVoyageur')!.invalid && (form.get('nbVoyageur')!.dirty || form.get('nbVoyageur')!.touched)" translate>
            LOGEMENTS.FORM.NOMBRE_POSITIF
          </div>
        </mat-form-field>
        <mat-form-field class="field" fxLayoutGap="20px">
          <label class="number" translate>LOGEMENTS.FORM.QUESTION_LITS</label>
          <input matInput type="number" name="nbLits" formControlName="nbLits">
          <div class="control" 
            *ngIf="form.get('nbLits')!.invalid && (form.get('nbLits')!.dirty || form.get('nbLits')!.touched)" translate>
            LOGEMENTS.FORM.NOMBRE_POSITIF
          </div>
        </mat-form-field>
        <mat-form-field class="field" fxLayoutGap="20px">
          <label class="number" translate>LOGEMENTS.FORM.QUESTION_SDB</label>
          <input matInput type="number" name="nbSdb" formControlName="nbSdb">
          <div class="control" 
            *ngIf="form.get('nbSdb')!.invalid && (form.get('nbSdb')!.dirty || form.get('nbSdb')!.touched)" translate>
            LOGEMENTS.FORM.NOMBRE_POSITIF
          </div>
        </mat-form-field>
      </div>
    </div>
    <div class="step" fxLayout="row">
      <div class="item" translate>
        LOGEMENTS.FORM.QUESTION_EQUIPEMENTS
      </div>
      <div>
        <mat-checkbox *ngFor="let e of equipementsList" value="{{e.element}}" (change)="valueChange(e.element, $event)">
          <i [ngClass]="e.logo"></i>
          {{ translate('LOGEMENTS.EQUIPEMENTS.'+e.element)}}
        </mat-checkbox>
      </div>
      <div>
        <mat-checkbox *ngFor="let e of equipementsSecuriteList" value="{{e.element}}"
          (change)="valueChange(e.element, $event)">
          <i [ngClass]="e.logo"></i>
          {{ translate('LOGEMENTS.EQUIPEMENTS.'+e.element)}}
        </mat-checkbox>
      </div>
    </div>
    <div class="step">
      <ngx-dropzone (change)="onDropZone($event)">
        <ngx-dropzone-label>{{translate('LOGEMENTS.FORM.PHOTOS')}}</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>
    <div class="step" fxLayout="row">
      <div class="item" translate>LOGEMENTS.FORM.DESCRIPTION</div>
      <div>
        <textarea type="text" placeholder="Description" formControlName="description" name="description" id="description"
          rows="4"></textarea>
      </div>
    </div>
    <div class="step">
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-radio-group formControlName="fumeur" name="fumeur" fxLayoutGap="3%">
          <mat-radio-button value="true">{{translate('LOGEMENTS.FORM.FUMEUR')}}</mat-radio-button>
          <mat-radio-button value="false">{{translate('LOGEMENTS.FORM.NON_FUMEUR')}}</mat-radio-button>
        </mat-radio-group>
        <mat-radio-group formControlName="animaux" name="animaux" fxLayoutGap="3%">
          <mat-radio-button value="true">{{translate('LOGEMENTS.FORM.ANIMAUX')}}</mat-radio-button>
          <mat-radio-button value="false">{{translate('LOGEMENTS.FORM.NO_ANIMAUX')}}</mat-radio-button>
        </mat-radio-group>
        <mat-radio-group formControlName="access_handicap" name="access_handicap" fxLayoutGap="3%">
          <mat-radio-button value="true">{{translate('LOGEMENTS.FORM.ACCES_HANDICAP')}}</mat-radio-button>
          <mat-radio-button value="false">{{translate('LOGEMENTS.FORM.NO_ACCES_HANDICAP')}}</mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="item field" fxLayoutGap="20px">
          <label class="number" translate>LOGEMENTS.FORM.PRIX</label>
          <div fxLayout="row">
            <input matInput type="number" id="prix" name="prix" formControlName="prix">
            <span>€</span>
          </div>
          <div class="control" 
            *ngIf="form.get('prix')!.invalid && (form.get('prix')!.dirty || form.get('prix')!.touched)" translate>
            LOGEMENTS.FORM.NOMBRE_POSITIF
          </div>
        </mat-form-field>
      </div>
    </div>
    <button class="submit btn btn-light" [disabled]="form.invalid" type="submit" translate>LOGEMENTS.FORM.CREER</button>
  </form>
</div>