<div class="component">
    <form class="formulaire" (ngSubmit)="login()" [formGroup]="form">
        <p *ngIf="error" class="error"> {{ error }}</p>
        <mat-form-field>
            <input matInput type="text" name="email" placeholder="email" required formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" name="password" [placeholder]="translate('LOGIN.PASS')" required formControlName="password">
        </mat-form-field>
        <a routerLink="/creation_compte" translate>LOGIN.LINK_CREATION</a>
        <p class="reset_mdp" (click)="openPopupResetMdp()" translate>LOGIN.MDP_OUBLIE</p>
        <button type="submit" [disabled]="!form.valid" translate>LOGIN.CONNEXION</button>
    </form>
</div>