.component{
    width: 100%;
    background-color: rgb(223, 222, 222);
    padding: 1%;
}

.addresse, .logementType{
    font-size: 3rem;
    text-align: center;
}

.images{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.informations{
    text-align: center;
    align-items: center;
}

.annulerChangeImg{
    font-size: 1rem;
    margin-left: 5px;
    border-radius: 30%;
    cursor: pointer;
}

.img_box{
    margin: 1%;
}

.logements {
    margin: 3%;
    padding: 1%;
    background-color: rgb(241, 240, 240);
    text-align: center;
}

.item{
    text-align: center;
}

.item_title {
    font-size: 2rem;
    padding: 0.5%;
}

.description, .prix {
    text-align: center;
    padding: 1%;
    border-radius: 5px;
}

.details{
    margin: auto;
}

.imgLoaded{
    width: 100px;
    height: 20px;
}

.modify_img {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.modify_img input[type=file] {
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    font-size: 90px;
}
.btn-upload {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    border-radius: 10px;
    font-size: 1rem;
}

.modifier_logement, .supprimer_logement{
    border-radius: 5px;
    margin: 2%;
}

mat-form-field{
    width: 30%;
    margin: auto;
}

.prix{
    width: 10%;
    margin: auto;
}
