<div class="component">
    <div class="logements" *ngFor="let l of modifyLogement; let indexLogement = index">
        <div class="logementType"><b>{{ l.logement.logement }}</b> | <b>{{ l.logement.ville }}</b></div>
        <div class="addresse">{{ l.logement.adresse }}</div>
        <div class="images">
            <div *ngFor="let im of l.logement.images; let i = index" fxLayout="column" class="img_box">
                <img                 
                [ngStyle]="{'height':'100px', 'width':'120px'}" 
                [src]="serverImg+im" alt="image 1">
                <span>image {{ i+1 }}</span>
                <div class="modify_img">
                    <button class="btn-upload">Remplacer l'image</button>
                    <input type="file" name="upfile" (change)="onImageChange($event, indexLogement, i+1)" />
                </div>
                <button class="btn-upload" (click)="deleteImage(indexLogement, i)">Supprimer l'image</button>
                <div class="imgLoaded" fxLayout="row">
                    <span *ngIf="l.imagesLoaded[i+1]">{{ l.imagesLoaded[i+1] }}</span>
                    <span class="annulerChangeImg" *ngIf="l.imagesLoaded[i+1]" (click)="annulerModifierImage(indexLogement, i+1)">-</span>
                </div>
            </div>
        </div>
        <ngx-dropzone (change)="onDropZone($event, indexLogement)">
            <ngx-dropzone-label>Ajoutez/Deposez des photos</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of l.files" [removable]="true" (removed)="onRemove(f, indexLogement)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone>
        <div class="informations">
            <div fxLayout="column" class="item">
                <!-- <div class="item_title">equipements</div>
                <span class="equipements" *ngFor="let e of l.logement.equipements">{{ e }}</span> -->
                <mat-form-field appearance="fill">
                    <mat-label>Modifier les équipements</mat-label>
                    <mat-select [(ngModel)]="modifyLogement[indexLogement].logement.equipements" multiple>
                        <mat-option *ngFor="let e of equipementsList" [value]="e.element">
                            <i [ngClass]="e.logo"></i>
                                {{e.element}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Modifier les équipements de sécurité</mat-label>
                    <mat-select [(ngModel)]="modifyLogement[indexLogement].logement.equipements" multiple>
                        <mat-option *ngFor="let e of equipementsSecuriteList" [value]="e.element">
                            <i [ngClass]="e.logo"></i>
                                {{e.element}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="column" class="item">
                <div class="item_title">description</div>
                <div class="description">{{ l.logement.description }}</div>
                <textarea
                    type="text"
                    placeholder="Description"
                    [(ngModel)]="l.logement.description"
                    name="description"
                    id="description"
                    rows="4"
                ></textarea>
            </div>
            <div fxLayout="column" class="item">
                <div class="item_title">details</div>
                <div class="details" fxLayout="row" fxLayoutGap="5%">
                    <div fxLayout="column">
                        <label>voyageurs :</label>
                        <input matInput type="number" name="nbVoyageur" [(ngModel)]="l.logement.voyageurs">
                    </div>
                    <div fxLayoutGap="column">
                        <label>lits :</label>
                        <input matInput type="number" name="lits" [(ngModel)]="l.logement.lits">
                    </div>
                    <div fxLayoutGap="column">
                        <label>salle de bains :</label>
                        <input matInput type="number" name="sdbs" [(ngModel)]="l.logement.sdbs">
                    </div>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-radio-group [(ngModel)]="l.logement.fumeur" fxLayoutGap="3%">
                        <mat-radio-button [value]="true">fumeur</mat-radio-button>
                        <mat-radio-button [value]="false">non fumeur</mat-radio-button>
                    </mat-radio-group>
                    <mat-radio-group [(ngModel)]="l.logement.animaux" fxLayoutGap="3%">
                        <mat-radio-button [value]="true">animaux autorisés</mat-radio-button>
                        <mat-radio-button [value]="false">animaux autorisés non autorisés</mat-radio-button>
                    </mat-radio-group>
                    <mat-radio-group [(ngModel)]="l.logement.access_handicap" fxLayoutGap="3%">
                        <mat-radio-button [value]="true">accès handicapé</mat-radio-button>
                        <mat-radio-button [value]="false">pas d'accès handicapé</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div fxLaout="column" class="item">
                <div class="item_title">prix</div>
                <div fxLayout="row" class="prix">
                    <input matInput type="number" name="prix" [(ngModel)]="l.logement.prix">
                    <span>€</span>
                </div>
            </div>
        </div>
        <div class="update">
            <button class="modifier_logement btn btn-warning" (click)="modifier(indexLogement)">Modifier</button>
            <button class="supprimer_logement btn btn-danger" (click)="supprimer(indexLogement)">Supprimer</button>
        </div>
    </div>
</div>