<form [formGroup]="form" (ngSubmit)="submit()">
    <div mat-dialog-content fxLayout="column">
        <mat-form-field appearance="fill">
            <mat-label>Votre email</mat-label>
            <input matInput placeholder="Votre email *" formControlName="mail">
            <div class="control" *ngIf="form.get('mail')!.invalid && (form.get('mail')!.dirty || form.get('mail')!.touched)">
                adresse invalide.
            </div>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">Annuler</button>
        <button mat-button [disabled]="form.invalid" type="submit" cdkFocusInitial>Ok</button>
    </div>
</form>