<div class="flex">
    <div class="image">
        <img [@fade]="toogle"
         (@fade.done)="onFade($event)"
         [src]="imageArray1[count%imageArray1.length]">
    </div>
    <div class="image">
        <img [@fade]="toogle"
         (@fade.done)="onFade($event)"
         [src]="imageArray2[count%imageArray2.length]">
    </div>
    <div class="image">
        <img [@fade]="toogle"
         (@fade.done)="onFade($event)"
         [src]="imageArray3[count%imageArray3.length]">
    </div>
    <div class="image">
        <img [@fade]="toogle"
         (@fade.done)="onFade($event)"
         [src]="imageArray4[count%imageArray4.length]">
    </div>
    <div class="image">
        <img [@fade]="toogle"
         (@fade.done)="onFade($event)"
         [src]="imageArray5[count%imageArray5.length]">
    </div>
    <div class="image">
        <img [@fade]="toogle"
         (@fade.done)="onFade($event)"
         [src]="imageArray6[count%imageArray6.length]">
    </div>
    <div class="image">
        <img [@fade]="toogle"
         (@fade.done)="onFade($event)"
         [src]="imageArray7[count%imageArray7.length]">
    </div>
    <div class="image">
        <img [@fade]="toogle"
         (@fade.done)="onFade($event)"
         [src]="imageArray8[count%imageArray8.length]">
    </div>

    <div class="image">
        <img [@fade]="toogle"
         (@fade.done)="onFade($event)"
         [src]="imageArray9[count%imageArray9.length]">
    </div>

    <div class="image">
        <img [@fade]="toogle"
         (@fade.done)="onFade($event)"
         [src]="imageArray10[count%imageArray10.length]">
    </div>
    <div class="image">
        <img [@fade]="toogle"
         (@fade.done)="onFade($event)"
         [src]="imageArray11[count%imageArray11.length]">
    </div>

</div>

