<div class="component">
    <form class="formulaire" (ngSubmit)="createAccount()" [formGroup]="form">
        <mat-form-field>
            <input matInput type="text" name="nom" [placeholder]="translate('USER.NOM')" required formControlName="nom">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="prenom" [placeholder]="translate('USER.PRENOM')" required formControlName="prenom">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="email" placeholder="email" required formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" name="password" [placeholder]="translate('USER.MDP')" required formControlName="password">
        </mat-form-field>
        <button type="submit" [disabled]="!form.valid" translate>USER.CREER_COMPTE</button>
        <!-- <p *ngIf="erreur">{{ erreur | json }}</p> -->
    </form>
</div>