<div class="component">
    <form class="formulaire" (ngSubmit)="createAccount()" #signupForm="ngForm">
        <input type="text" id="nom" name="nom" placeholder="nom" required [(ngModel)]="nom">
        <input type="text" id="email" name="email" placeholder="email" required [(ngModel)]="email">
        <input type="password" id="password" name="password"placeholder="mot de passe" required [(ngModel)]="password">
        <button type="submit" [disabled]="!signupForm.form.valid">Créer mon compte</button>
    </form>
</div>