<div class="component">
    <form class="formulaire" (ngSubmit)="createAccount()" [formGroup]="form">
        <input type="text" name="nom" placeholder="nom" required formControlName="nom">
        <input type="text" name="prenom" placeholder="prenom" required formControlName="prenom">
        <input type="text" name="email" placeholder="email" required formControlName="email">
        <input type="password" name="password" placeholder="mot de passe" required formControlName="password">
        <button type="submit" [disabled]="!form.valid">Créer mon compte</button>
    </form>
</div>