.component {
    width: 100%;
    background-color: rgb(247, 253, 254);
    
    .grid {
        display: grid;
        grid-template-columns: 70% 20%;
        
        .step {
            background-color: rgb(243, 248, 234);
            margin: 5px 0;
            
            .item {
                font-size: 1rem;
                margin: 0 5% 1% 5%;
            }
            
            .field {
                width: 20%;
            }

            .control {
                color: red;
            }
        
            textarea{
                width: 100vh;
            }

            .input_ville {
                width: 150px !important;
            }
            ngx-dropzone {
                height: 100px;
                background-color: rgb(243, 248, 234);
            }
        
            .radio_button {
                margin-top: 2%;
            }
        
            mat-radio-button{
                margin: 3%;
            }
        
            .message{
                margin: 3% 0 0 2%;
            }
        }
        #map {
            border-radius: 20px;
            width: 50vh;
            height: 75vh;
        }
    }

    .submit {
        width: 30%;
        height: 1%;
        padding: 1%;
        margin: 2% auto;
        background-color: rgb(187, 247, 74);
    }

}
