<div class="component">
    <div class="p_1pourcent" fxLayout="row" fxLayoutGap="10px">
        <mat-form-field class="width_10pourcent pl_1pourcent">
            <input matInput type="text" name="nomSearch" [placeholder]="translate('LIEUX.FILTRES.NOM')"
             [(ngModel)]="nomSearch">
        </mat-form-field>
        <mat-form-field class="width_10pourcent pl_1pourcent">
            <input matInput type="text" name="villeSearch" [placeholder]="translate('LIEUX.FILTRES.VILLE')"
             [(ngModel)]="villeSearch" [matAutocomplete]="villescomplete">
        </mat-form-field>
        <mat-autocomplete #villescomplete="matAutocomplete">
            <mat-option *ngFor="let ville of villes" [value]="ville">
              {{ ville }}
            </mat-option>
        </mat-autocomplete>
        <mat-radio-group [(ngModel)]="typeSearch" name="typeSearch" *ngFor="let type of lieu_types">
            <mat-radio-button #radioButton [value]="type">{{ translate('LIEUX.TYPE.'+type) }}</mat-radio-button>
        </mat-radio-group>
        <button class="btn btn-light" (click)="actualiser()" translate>LIEUX.FILTRES.ACTUALISER</button>
        <button class="btn btn-light" (click)="effacerFiltres()" translate>LIEUX.FILTRES.EFFACER_FILTRES</button>
    </div>
    <div class="wrapper">
        <app-item-card class="lieux" [items]="lieuxFiltered.length > 0 ? lieuxFiltered : lieux"></app-item-card>
        <div id="map" leaflet *ngIf="displayMap" (leafletMapReady)="onMapReady($event)" [leafletOptions]="mapOptions">
        </div>
    </div>
</div>