.component {
    background-color: rgb(247, 253, 254);
}

.wrapper {
    display: flex; 
    flex-flow: row wrap;
}

.lieux {
    flex: 1 1 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

#map {
    border-radius: 20px;
    width: 50vh;
    height: 75vh;
}

.btn-light{
    height: 50%;
    margin-top: 1%;
}

mat-radio-group{
    padding-top: 1.5%;
}
.input_text{
    padding-left: 1%;
    width: 10%;
}