<div class="component" *ngIf="logement && logementReservation">
    <div class="margin">
        <p>{{ logement.adresse }}</p>
        <p>email du locataire : {{ logementReservation.emailDemandeur }}</p>
        <p>{{ logementReservation.dateDebut }} - {{ logementReservation.dateFin }}</p>
        <p>{{ logementReservation.prix * 100/110 }}€</p>
        <p>Si vous acceptez, le transfert sur votre compte Stripe sera effectué au début du voyage de votre locataire</p>
        <div fxLayout="row" fxLayoutGap="50px" class="buttons">
            <button (click)="accept()" class="btn btn-success">Accepter</button>
            <button (click)="refuse()" class="btn btn-danger">Refuser</button>
        </div>
    </div>
</div>